
.area {
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  padding: 20px;

  border-radius: 40px;
  box-shadow: 2px 2px 20px rgb(230, 230, 230);
}

.backgroundCoffee {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.alertNoCommande {
  text-align: center;
  width: 75%;
  padding: 20px;

  color: #FF71B3;

  border-radius: 15px;
  box-shadow: 2px 2px 20px rgb(230, 230, 230);
}

.h3 {
  color: #FF71B3;
}

.buttonAddCommande {
  width: 50px;
  height: 50px;

  padding: 10px;
  cursor: pointer;

  border: none;
  border-radius: 10px;
  transition: 100ms ease-in-out;
}
.buttonAddCommande:active {
  background-color: #ffb3d6;
}
.buttonAddCommande:hover {
  box-shadow: 1px 1px 10px rgb(230, 230, 230);
}